<!--
  templateType: global_partial
  label: Website header
-->

<header class="header">

  {% dnd_area "header-top"
    label="Top header",
    class="content-wrapper"
  %}
  {% end_dnd_area %}

  <div class="header__container content-wrapper">
    <div class="header__logo header__logo--main">
      {% module "site_logo"
        path="@hubspot/logo"
        img={
          "loading": "eager"
        }
      %}
    </div>
    <div class="header__navigation">
      {% module "mega-menu"
        path="../../modules/mega-menu",
        label="Mega Menu"
      %}
    </div>
  </div>

  {% dnd_area "header-bottom"
    label="Bottom header",
    class="content-wrapper"
  %}
  {% end_dnd_area %}

</header>
