.content-block__container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: var(--card-border-radius);
}

.content-block__container.glass{
  padding: 1.5rem;
}

.content-block__icon svg{
  width: 2.5rem;
  height: 2.5rem;
}

.content-block__content{
  display: flex;
  flex-direction: column;
}

.content-block__buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media  screen and (min-width: 992px){
  .content-block__container.row{
    flex-direction: row;
    text-align: left;
    gap: 1rem;
  }
}