<!--
  templateType: page
  isAvailableForNewContent: true
  label: Voyageurs - Contact
  screenshotPath: ../images/template-previews/contact.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--contact"
%}

  {# Hero banner #}

  {% include_dnd_partial path="../sections/_hero-banner.html" %}

  {# Contact form #}

  {% include_dnd_partial path="../sections/_form.html" %}

{% end_dnd_area %}
{% endblock body %}
